python -m venv venv
Set-ExecutionPolicy RemoteSigned -Scope Process
venv\Scripts\activate
pip install fastapi uvicorn
pip install sqlalchemy asyncpg
pip install pydantic
pip install psycopg2-binary
pip install python-dotenv
pip install python-jose[cryptography]
pip install passlib[bcrypt]
pip install python-multipart

uvicorn app.main:app --reload
http://127.0.0.1:8000/docs